h1 {
  color: black;
}

.imagen_panel {
  width: 65%;
}

.contenedorPanel {
  display: grid;
  grid-template-areas:
    "imagen derecha";
  grid-template-columns: 3fr 2fr;
}

p {
  grid-area: texto;
  display: flex;
  align-items: center;
  align-content: left;
  text-align: left;
  vertical-align: middle;
  margin-top: 10%;
  margin-right: 15%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}

.derecha {
  display: grid;
  grid-template-areas:
    "texto"
    "btnRegistro";
  grid-template-rows: 3fr 1fr;
}

.texto {
  grid-area: texto;
}

.btnRegistro {
  grid-area: btnRegistro;
  text-align: left;
}

.imagen {
  grid-area: imagen;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  margin-top: 7.5%;
}